.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 24px;
}

.App-intro {
  font-size: large;
}

.space {
    margin-top: 18px;
    margin-bottom: 18px;
}

.PokeList-item {
    text-transform: capitalize;
}

.PokeList-item {
  text-transform: capitalize;;
}

.pagination {
    padding: 0 18px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
